<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="FileAppender" fileName="log/recommend_server.log">
            <PatternLayout pattern='{"log_level":"%p", "proc_date":"%d{yyyy-MM-dd}", "proc_time":"%d{HH:mm:ss,SSS}", "proc_alive": "%r", "work_thread":"%t", "class":"%F", "code_line":"%L", "message":%m}%n' />
        </File>
        <File name="ErrorFile" fileName="log/reco-error.log">
            <PatternLayout pattern='{"log_level":"%p", "proc_date":"%d{yyyy-MM-dd}", "proc_time":"%d{HH:mm:ss,SSS}", "proc_alive": "%r", "work_thread":"%t", "class":"%F", "code_line":"%L", "message":%m}%n' />
            <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="SerialRequest" fileName="log/serial_request.log">
            <PatternLayout pattern='{"proc_time":"%d{HH:mm:ss,SSS}"，"message":"%m"}%n' />
            <ThresholdFilter level="info" onMismatch="DENY"/>
        </File>
        <File name="RequestFormat" fileName="log/recommend-request.log">
            <PatternLayout pattern='{"log_level":"%p", "proc_date":"%d{yyyy-MM-dd}", "proc_time":"%d{HH:mm:ss,SSS}", "proc_alive": "%r", "work_thread":"%t", "class":"%F", "code_line":"%L", "message":%m}%n' />
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
        <File name="HistoryRecord" fileName="log/history.log">
            <PatternLayout pattern='{"log_level":"%p", "proc_date":"%d{yyyy-MM-dd}", "proc_time":"%d{HH:mm:ss,SSS}", "message":{ %m } }%n' />
            <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="FileLogger" level="info" additivity="true" includeLocation="true">
            <AppenderRef ref="FileAppender" />
        </Logger>
        <Logger name="mx.j2.recommend.util.LogTool" level="info" additivity="false">
            <AppenderRef ref="SerialRequest"/>
        </Logger>
        <Logger name="mx.j2.recommend.util.RequestFormat" level="info" additivity="false">
            <AppenderRef ref="RequestFormat"/>
        </Logger>
        <Logger name="HistoryRecordLogger" level="info" additivity="true" >
            <AppenderRef ref="HistoryRecord" />
        </Logger>
        <Root level="info" includeLocation="true">
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="ErrorFile" />
        </Root>
    </Loggers>
</Configuration>